    <div class="artwork">
        <img src="{{bigArt}}" alt="{{title}}">
    </div>
    <ul>
        {{#if release_year}}
            <li>Released: {{release_year}}</li>
        {{/if}}
        {{#if genre}} 
            <li>Genre: {{genre}}</li>
        {{/if}}
        {{#if label_name}} 
            <li>Label: {{label_name}}</li>
        {{/if}}  
        {{#if tag_list}} 
            <li>Tags: {{tag_list}}</li>
        {{/if}}  
        {{#if downloadable}} 
            <li><a href="{{download_url}}">Download</a></li>
        {{/if}}  
        {{#if favoritings_count}} 
            <li>Favorites: {{favoritings_count}}</li>
        {{/if}} 

    </ul>
