    <div class="artwork">
        <img src="{{bigArt}}" alt="{{title}}">
    </div>
    <ul>
        {{#if release_year}}
            <li>Released: <span>{{release_year}}</span></li>
        {{/if}}
        {{#if genre}} 
            <li>Genre: <span>{{genre}}</span></li>
        {{/if}}
        {{#if label_name}} 
            <li>Label: <span>{{label_name}}</span></li>
        {{/if}}  
        {{#if tag_list}} 
            <li>Tags: <span>{{tag_list}}</span></li>
        {{/if}}  
        {{#if downloadable}} 
            <li><a href="{{download_url}}">Download</a></li>
        {{/if}}  
        {{#if favoritings_count}} 
            <li>Favorites: <span>{{favoritings_count}}</span></li>
        {{/if}} 

    </ul>
