<div class="info-view">
    <div class="artwork">
        <img src="{{artwork_large}}" alt="{{title}}">
    </div>
    <ul>
        <li>{{release_year}}</li>
        <li>{{genre}}</li>
        <li>{{label_name}}</li>
        <li>{{tag_list}}</li>
        <li><a href="{{download_url}}">Download</a></li>
        <li>Favorites: {{favoritings_count}}</li>

    </ul>
</div>